<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuany3721.ir.dao.AuthorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yuany3721.ir.entity.Author">
        <result column="passage" property="passage" />
        <result column="author" property="author" />
    </resultMap>

    <insert id="addPassage" parameterType="top.yuany3721.ir.entity.Author">
        insert into author (passage, author) values (#{passage}, #{author})
    </insert>
    <select id="getPassageByAuthor" resultType="String">
        select passage from author where author = #{author}
    </select>
</mapper>