<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuany3721.ir.dao.DocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yuany3721.ir.entity.Doc">
        <id column="id" property="id" />
        <result column="publication" property="publication" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="word" property="word" />
    </resultMap>

    <insert id="setPassage" parameterType="top.yuany3721.ir.entity.Doc">
        insert into doc (id, publication, title, author, word) values (#{id}, #{publication}, #{title}, #{author}, #{word})
    </insert>
    <select id="getAll" resultType="top.yuany3721.ir.entity.Doc">
        select * from doc
    </select>
    <select id="getById" resultType="top.yuany3721.ir.entity.Doc">
        select * from doc where id = #{id};
    </select>

</mapper>