<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuany3721.ir.dao.InvertedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.yuany3721.ir.entity.Inverted">
        <result column="word" property="word" />
        <result column="passage" property="passage" />
        <result column="weight" property="weight" />
    </resultMap>

    <insert id="addPassage" parameterType="top.yuany3721.ir.entity.Inverted">
        insert into inverted (word, passage, weight) values (#{word}, #{passage}, #{weight})
    </insert>
    <select id="getPassageByWord" resultType="top.yuany3721.ir.entity.Inverted">
        select * from inverted where word = #{word}
    </select>
    <select id="getPassageNameByWord" resultType="String">
        select passage from inverted where word = #{word}
    </select>

</mapper>